.App {
  display: flex;
}

.content {
  width: 100vw;
}

.sign {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

#tradingview_widget_wrapper div:nth-child(even) {
  display: none;
}

.mkt {
  margin-bottom: 2rem;
  box-shadow: 0.5px 0.5px 5px 0.5px;
}

.fcr {
  box-shadow: 0.5px 0.5px 5px 0.5px;
  margin-bottom: 2rem;
}

.dash {
  padding: 2px 1rem;
}

.dashes div {
  background-color: white;
  text-align: center;
  /* border: solid black 1px; */
  color: white;
  box-shadow: 1px 1px 1px 1px;
}

.dashes p {
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  margin: 0px;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dashes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
}

/* .ec{
  padding: 2px 1rem;
  box-shadow: 0.5px 0.5px 5px 0.5px;
} */

/* .ta{
  display: flex;
  align-items: center;
  flex-direction: column; 
} */

.profile {
  height: 100vh;
}

.img {
  text-align: center;
}

/* .pro {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.pro div {
  box-shadow: 0.5px 0.5px 2px 2px;
  padding: 1rem;
}

.deposit {
  padding: 5px 2rem;
  min-height: 100vh;
}

.packages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-gap: 1rem;
  padding: 1px 2rem;
  text-align: center;
  font-weight: bolder;
}

.package {
  box-shadow: 0.5px 0.5px 2px 2px;
}

.package h5 {
  background-color: black;
  font-size: larger;
  color: white;
  height: 2rem;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.package p {
  font-size: large;
}

.package p:nth-child(even) {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.package p:nth-child(odd) {
  background-color: black;
  color: white;
  margin: 0px;
}

form {
  width: 100%;
}
.input {
  width: 100%;
}

.withdraw {
  min-height: 100vh;
}

.msg {
  text-align: center;
}

.pm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-gap: 1rem;
}

.pmi {
  text-align: center;
}

.b {
  background-color: black;
  color: white;
  border: none;
  font-weight: bolder;
}

.spinner {
   width: 88px;
   height: 88px;
   animation: spinner 1s infinite linear;
}

.g{
  animation: spinner-zp9dbg 2s infinite linear;
}

@keyframes spinner-zp9dbg {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

@keyframes spinner {
    0% { transform: rotateX(360deg); }
    100% { transform: rotateX(0deg); }
}